body {
    background: #f8f9fa;
}

.gallery-item img {
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
